<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="center"><%= title %></h1>
    
    <div class="dash-content">

      <!-- Step 1 -->
      <div>
        <p class="center">Some description/ slogan here........</p>
      </div>
        
      <div class="dash-step">
        <table class="dash-step-table">
          <tr>
            <td colspan="2"><a class="dash-step-heading">Step 1. </a><a class="dash-step-subheading"> Build Your Journal</a></td>
            <td class="dash-button-box"><button>Create A New Journal</button></td>
          </tr>
          
          <tr>
            <td colspan="3"><p> Description about the journal...The Journal helps you......How to input the journals....</p></td>
          </tr>
          
          <tr>
            <td>
              <table class="dash-task">
                <tr><td>Company Name</td></tr>
                <tr><td>Task Title</td></tr>
                <tr><td>March 26, 2023</td></tr>
              </table>
            </td>
  
            <td>
              <table class="dash-task">                    
                <tr><td>Company Name</td></tr>
                <tr><td>Task Title</td></tr>
                <tr><td>March 25, 2023</td></tr>
              </table>
            </td>
  
            <td>
              <table class="dash-task">
                <tr><td>Company Name</td></tr>
                <tr><td>Task Title</td></tr>
                <tr><td>March 24, 2023</td></tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
  

      <!-- Step 2 -->    
      <div class="dash-step">
        <table class="dash-step-table">
          <tr>
            <td colspan="2"><a class="dash-step-heading">Step 2. </a><a class="dash-step-subheading"> Kanban</a></td>
            <td class="dash-button-box"><button>Create A New Kanban</button></td>
          </tr>
          
          <tr>
            <td colspan="3"><p> Description about the kanban...It is an awesome Kanban....</p></td>
          </tr>
          
          <tr>
            <td>
              <table class="dash-task">
                <tr><td>Kanban Company Name 1</td></tr>
                <tr><td>From: May 1, 2022</td></tr>
                <tr><td>To: Current</td></tr>
              </table>
            </td>

            <td>
              <table class="dash-task">                    
                <tr><td>Kanban Company Name 2</td></tr>
                <tr><td>From: January 1, 2020</td></tr>
                <tr><td>To: April 25, 2022</td></tr>
              </table>
            </td>

            <td>
              <table class="dash-task">
                <tr><td>Kanban Company Name 3</td></tr>
                <tr><td>From: January 1, 2018</td></tr>
                <tr><td>To: December 30, 2019</td></tr>
              </table>
            </td>
          </tr>
        </table>
      </div>

      <!-- Step 3 -->
      <div class="dash-step">
        <table class="dash-step-table">
          <tr>
            <td colspan="2"><a class="dash-step-heading">Step 3. </a><a class="dash-step-subheading"> Build Your Resume</a></td>
            <td class="dash-button-box"><button>Create A New Resume</button></td>
          </tr>
          
          <tr>
            <td colspan="3"><p> Description about the resume function...It can help you a lot....</p></td>
          </tr>
          
          <tr><td colspan="3">Your Recent Resume:</td></tr>
          <tr>
            
            <td>
              <table class="dash-task">
                <tr><td>Resume 1</td></tr>
                <tr><td>Post Name</td></tr>
                <tr><td>March 10, 2023</td></tr>
              </table>
            </td>

            
            <td>
              <table class="dash-task">
                <tr><td>Resume 2</td></tr>
                <tr><td>Post Name</td></tr>
                <tr><td>March 5, 2023</td></tr>
              </table>
            </td>

            
            <td>
              <table class="dash-task">
                <tr><td>Resume 3</td></tr>
                <tr><td>Post Name</td></tr>
                <tr><td>March 1, 2023</td></tr>
              </table>
            </td>
          </tr>
        </table>
      </div>


    </div>
    
    
  </body>
</html>